<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h2>Add book to library</h2>
        <h:panelGrid columns="3">
            <h:selectOneMenu value="#{addBookToLibraryController.isbn}">
                <f:selectItems value="#{addBookToLibraryController.books}" var="book" itemValue="#{book.ISBN}" itemLabel="#{book.name}" />
            </h:selectOneMenu>
            <h:selectOneMenu value="#{addBookToLibraryController.libraryName}">
                <f:selectItems value="#{addBookToLibraryController.libraries}" var="library" itemValue="#{library.name}" itemLabel="#{library.name}"/>
            </h:selectOneMenu>
        </h:panelGrid>
        <p>
            <h:panelGrid columns="2">
                <h:commandButton id="register"
                                 action="#{addBookToLibraryController.addBookToLibrary}"
                                 value="Register" styleClass="register"/>
                <h:messages styleClass="messages"
                            errorClass="invalid" infoClass="valid"
                            warnClass="warning" globalOnly="true"/>
            </h:panelGrid>
        </p>
    </h:form>
</f:view>
</html>
